<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="com.flycast.emulator.RetroAchievementsHostOverrideReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.flycast.emulator.action.SET_RETROACHIEVEMENTS_HOST_OVERRIDE" />
                <action android:name="com.flycast.emulator.action.CLEAR_RETROACHIEVEMENTS_HOST_OVERRIDE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
